* {
   box-sizing: border-box;
}
.nav-centered {
   width: 100%;
   justify-content: center;
}
.name {
   background: url("../img/first-screen.png");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
    height: 713px;
}
.social-top {
   justify-content: end;
   gap: 5px;
}
.navbar-nav a {
   color: white;
}
.name-text {
   padding-top: 15rem;
 
}
.name-text h3 {
   color: white;
}
.name-icon-video p {
   color: white;
}
.name-services {
   margin-top: 7rem;
}
.image-services {
   margin-top: 7rem;
}
.wrapper,
.single-card {
   height: 450px;
   max-width: 300px;
   margin: auto;
   position: relative;
}
.wrapper {
   perspective: 900px;
   padding-top: 7rem;
   height: 30rem;
}
.single-card {
   text-align: center;
   transition: all 1.5s cubic-bezier(0.7, -5, 0.3, 1.8);
   transform-style: preserve-3d;
}
.wrapper:hover .single-card {
transform: rotateY(180deg);
}
.front,
.back {
   width: 300px;
   position: relative;
   top: 0;
   left: 0;
   backface-visibility: hidden;
}
.front {
   cursor: pointer;
   height: 100%;
   background-image: url(../img/Rectangle\ 45.png);
   backface-visibility: hidden;
   border-radius: 50px;
   background-size: cover;
   background-position: center center;
}
.back {
   transform: rotatey(180deg);
   position: absolute;
   border-radius: 50px;
   height: 450px;
   background: #fff;
}
.content {
   padding-top: 25%;
}
.content h2 {
   font-size: 35px;
   margin: 0;
   font-weight: 300;
}

.content h4 {
   margin: 0;
}
.socials {
   margin-top: 20%;
}
.text-list {
   font-size: 30px;
   margin: 0 10px;
}
.slider {
   padding-top: 15rem;
   padding-bottom: 15rem;
}
.slider-img {
   height: 10rem;
   width: 100%;
}
.text-size {
   font-size: 10px;
}
.slider-buttons {
   gap: 3px;
   margin-right: 18rem;
   margin-bottom: 2rem;
}
.slider-header {
   margin-left: 215px;
}
.btn-round {
   background-color: #8D86C9;
   border-color: #8D86C9;
}
.btn-price {
   background-color: #8D86C9;
   border-color: #8D86C9;
   text-align: center;
   align-items: center;
   width: 50%;
   color: white;
}
.btn-price img {
  width: 5%;
 align-items: center;
}
.ticket {
   margin-right: 145px;
}
.sale {
   margin-right: 178px
}
.footer {
   background-color: bisque;
   
}
.footer-bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin-bottom: 1rem;
   margin-top: 1rem;
}
.footer-bottom a {
text-decoration: none;
color: black;
font-size: 12px;
}
.footer-bottom p {
   font-size: 12px;
   margin-top: 1rem;
}
@media (max-width: 568px) {
   .slider-header {
      text-align: center;
   }
   .btn-round {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
   }
}